
<article class="post">
  <div class="title">
    <p id="title">{{title}}</p>
    <p id="username"> by {{user.username}}</p>
    <span>{{description}}</span>
  </div>
  <div class="meta">
      Created at {{format_date created_at}}
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>